# Use this file to keep certain files from being versioned (covered in the GitHub part of the course).

# Project data and outputs
data/
gen/
*.tsv.gz
*.rds
~$*.xlsx
*.csv

# R extra
.Rapp.history
.RData
.Ruserdata
.Rproj.user
.Rhistory

# Logs / tijdelijke files
*.log
*.tmp

# Mac (extra zekerheid)
.DS_Store
